/* Fix for positioning the navbar at the top */
nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px; /* Adjust max width to your desired size */
    z-index: 50;
}

/* Style for menu toggle (hamburger) */
#menu-toggle:focus {
    outline: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav-links.active {
        display: block;
    }
}
